body{
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Roboto Mono', monospace;
    background-image: url(pic/p\ 7.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.top h1{
    color: coral;
    font-size: 30px;
}

#name{
    color: crimson;
}
.top img{
    height: 300px;
    width: 600px;
    border-radius: 20px;
    margin-left: 5%;
}
section{
    display: flex;
    margin: 10%;
}
.intro{
    background-color: rgb(126, 126, 223);
    border-radius: 20px;
    padding:2%
}